<footer class="footer">
	<div class="container">
		{# Logo #}
		<div>
			<img class="footer__logo" src="/img/logos/indelec-baseline.svg"
			     width="178"
			     alt="Logo INDéLEC"
			>
		</div>
		{# Contact #}
		<div>
			<ul class="footer__infos">
				<li>
					41&nbsp;bi&nbsp;-&nbsp;43 Boulevard Roger&nbsp;Salengro<br>
					93130 Noisy-le-Sec
				</li>
				<li>
					Tel&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;36<br>
					Fax&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;34
				</li>
				<li>
					{# <!--suppress HtmlUnknownAttribute --> #}
					<a fakemail>contact@in<!-- fakemail -->{##}del<span style="display: none;">fakemail</span>ecsa.fr</a>
				</li>
			</ul>
		</div>
		{# Informations légales #}
		<div>
			<ul class="footer__infos">
				<li>
					SAS au capital de 100&nbsp;000&nbsp;€<br>
					RCS Bobigny B&nbsp;562&nbsp;098&nbsp;764
				</li>
				<li>APE&nbsp;: 4321&nbsp;A</li>
				<li>SIRET&nbsp;: 562&nbsp;098&nbsp;764&nbsp;00029</li>
			</ul>
		</div>
		{# Réseaux et Auteur #}
		<div class="footer__links">
			<ul class="footer__socials">
				<li>
					<a href="https://linkedin.com/company/indelecsa" rel="noopener nofollow">
						<img src="/img/socials/linkedin.svg" alt="Linkedin" class="symbol">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/indelec_sa" rel="noopener nofollow">
						<img src="/img/socials/instagram.svg" alt="Instagram" class="symbol">
					</a>
				</li>
				{#<li>
					<a href="javascript:void(0)" rel="noopener nofollow">
						<img src="/img/socials/facebook.svg" alt="Facebook" class="symbol">
					</a>
				</li>#}
			</ul>
			<cite class="footer__author">Réalisation :
				<a href="https://agency-ye.com" rel="author noopener">Agency YE!</a></cite>
		</div>
	</div>
</footer>