<nav class="navigation">
	<div class="container">
		<img src="/img/logos/indelec-baseline.svg" class="navigation__logo" width=250 alt="Logo INDéLEC">
		<ul class="navigation__list">
			<li class="navigation__item"><a href="javascript:void(0)">Nos services</a></li>
			<li class="navigation__item"><a href="javascript:void(0)">Notre entreprise</a></li>
			<li class="navigation__item"><a href="javascript:void(0)">Nos clients</a></li>
			<li class="navigation__item"><a href="javascript:void(0)">Contactez-nous</a></li>
		</ul>
	</div>
</nav>