<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ name }} - Nos clients</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ webpack("css/styles.css") }}" type="text/css">
</head>
<body class="page--clients">
{% include "components/navigation.twig" %}
<main>

	{# Nos clients #}
	<section class="section container">
		<figure class="section__figure section__figure--full" style="background-image: url('/img/map.jpg')">
			<img src="/img/map.jpg" alt="Intérieur d'une cathédrale en chantier de rénovation">
		</figure>
		<div class="section__content">
			<h1 class="title-primary">Nos services</h1>
			<p>
				Depuis 1956, nous intervenons sur tout type de projet.
				Nous entretenons une relation de confiance avec nos clients.
			</p>
			<ul class="clients_list">
				{% for client in clients %}
					{{ include('components/clientCard.twig', client) }}
				{% endfor %}
			</ul>
		</div>
	</section>

</main>
{% include "components/footer.twig" %}
<script src="{{ webpack("js/index.js") }}"></script>
</body>
</html>
