<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ env('META_TITLE') }}{{ pageTitle ?? "" }}</title>
	<meta name="robots" content="noindex,nofollow">
	{% include "components/head.twig" %}
</head>
<body class="">
{% include "components/navigation.twig" %}
<main>

	<section class="section container text--center">
		<h1 class="title-primary">Message envoyé</h1>
		<p>
			Merci de votre message, il a bien été envoyé à notre équipe.<br>
			Nous reviendrons vers vous dès que possible.
		</p>
	</section>

</main>
{% include "components/footer.twig" %}
<script src="{{ webpack("js/index.js") }}"></script>
</body>
</html>
