<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ webpack("css/styles.css") }}" type="text/css">
</head>
<body class="page--welcome">
{% include "components/navigation.twig" %}
<main>

	<header class="welcome__header">
		{# Header cover #}
		<div class="welcome_hero">
			<div class="container">
				<h1 class="welcome__title">
					<span style="display: none">INDéLEC&nbsp;|&nbsp;</span>
					L’expert de vos installations électriques et domotiques professionnelles depuis 1956
				</h1>
			</div>
		</div>
		{# Header content #}
		<div class="container welcome__header-content">
			<div class="welcome__intro">
				<p>
					Spécialistes de l’industrie du bâtiment et du courant fort, nous conçevons, réalisons et entrenons vos
					installations électriques lors d’une rénovation ou d’un projet de construction.
				</p>
				<img src="/img/symbols/symbol-resistance.svg"
				     class="symbol symbol--big hljs-symbol"
				     role="presentation"
				     alt="Symbol resistance"
				>
			</div>
			<div class="welcome__services">
				<div class="welcome__header-logos">
					<img src="/img/logos/qualifelec.png" alt="Logo Qualifelec"/>
					<img src="/img/logos/ffb.png" alt="Logo Fédération Française du Bâtiment"/>
					<img src="/img/logos/cseee.png" alt="Logo Chambre Syndicale des Entreprises d’Équipements Électrique"/>
				</div>
				<ul>
					<li>
						<h3>Électrique</h3>
						<p>
							Nous prenons en charge l’ensemble des installations
							électriques en courant faible et fort de nos clients.
						</p>
					</li>
					<li>
						<h3>Domotique</h3>
						<p>Nous restons à jour sur les nouvelles technologies pour répondre aux défis contemporains.</p>
					</li>
					<li>
						<h3>Sur mesure</h3>
						<p>Une adaptation aux typologies de chantier qui permet une installation sur le long terme.</p>
					</li>
				</ul>
			</div>
			<img src="/img/symbols/symbole-sin.svg"
			     class="welcome__header-symbol"
			     width="0"
			     role="presentation"
			     alt="Décoration de fond"
			>
		</div>
	</header>

	{# La culture de la qualité #}
	<section class="section container">
		<figure class="section__figure section__figure--full"
		        style="background-image: url('/img/tableau-electrique-2.jpg')"
		>
			<img src="/img/tableau-electrique-2.jpg"
			     alt="Deux électriciens en train de travailler sur un tableau électrique"
			>
		</figure>
		<div class="section__content section__content--col">
			<div>
				<h2 class="section__title title-primary">La culture de la qualité</h2>
			</div>
			<div>
				<p>
					Nous formons nos collaborateurs pour garantir un personnel de qualité, et vous assurer une qualité de
					service et d’exécution optimale. La confiance que nous portons à nos collaborateurs et prestataires nous
					permet de nous adapter aux typologies des chantiers, et écarter des solutions basiques de court terme.
				</p>
				<p>
					Nous prenons en charge des installations électriques MGTI et LCPT de classe 3,
					que nous accompagnons d’un point de vue écoresponsable.
				</p>
				<img src="/img/symbols/symbole-unknown-1.svg"
				     class="symbol hide--mobile"
				     role="presentation"
				     alt="Symbol resistance"
				>
				<p class="welcome__qualifelec text--blue">
					<strong>Qualifelec Classe 3</strong><br>
					Logement Commerce Petit Tertiaire <br>
					Moyen Gros Tertiaire Industrie
				</p>
			</div>
		</div>
	</section>

	{# Une expérience historique #}
	<section class="section section--brokenWhite">
		<div class="section__content container section__content--col">
			<div>
				<figure class="section__figure"
				        style="background-image: url('/img/salle-a-manger.jpg')"
				>
					<img src="/img/salle-a-manger.jpg"
					     alt="Salle à manger collective"
					>
				</figure>
			</div>
			<div>
				<h2 class="section__title title-primary">Une expérience historique</h2>
				<p>
					Depuis la création en 1956 par Christophe Riou, nous sommes une entreprise à taille humaine, avec la
					formation et la transmission des savoirs comme valeurs essentielles. Notre confiance en nos collaborateurs
					se traduit en notre capacité à relever des défis en France et dans le monde, sur des sites grandioses
					et avec une variété de clients qui nous suivent encore aujourd’hui.
				</p>
				<p>
					INDéLEC fournit encore aujourd’hui un travail de haute qualité dans les secteurs du public,
					comme du privé, et qui se transmet entre les générations.
				</p>
			</div>
			<img src="/img/symbols/symbole-etoile.svg"
			     class="section__bkg-symbol"
			     role="presentation"
			     alt="Symbol étoile"
			>
		</div>
	</section>

	{# Citation et partenaires #}
	<section class="section container">
		<div class="section__content">
			{% include "components/welcome_quotes.twig" %}
			<ul class="welcome__logos">
				<li>
					<figure>
						<div><img src="/img/logos/matmut.png" alt="Logo Matmut"></div>
						<figcaption>
							Matmut<br>
							depuis 1988
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/gecina.png" alt="Logo Gecina"></div>
						<figcaption>
							Gecina<br>
							depuis 1998
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/campusea.png" alt="Logo Campusea"></div>
						<figcaption>
							Campusea<br>
							depuis 2007
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/hotel-vignon.png" alt="Logo Hôtel Le Vignon"></div>
						<figcaption>
							Hôtel Le Vignon<br>
							depuis 2013
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/agro-paris-tech.png" alt="Logo Agro Paris Tech"></div>
						<figcaption>
							AgroParisTech<br>
							depuis 2014
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/apprentis-auteuil.png" alt="Logo Apprentis d’Auteuil"></div>
						<figcaption>
							Apprentis d’Auteuil<br>
							depuis 2015
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</section>

	{# Contact #}
	<section class="section section--pink welcome__contact" id="contact">
		<div class="section__content container section__content--col">
			<div class="welcome__contact-info">
				<h2 class="section__title title-primary">Contactez-nous</h2>
				<address>41&nbsp;bis&nbsp;-&nbsp;43<br>Boulevard Roger Salengro<br>93130 Noisy-le-Sec</address>
				<ul>
					<li>Tel&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;36</li>
					<li>Fax&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;34</li>
				</ul>
				<p>
					{# <!--suppress HtmlUnknownAttribute --> #}
					<a fakemail>contact@in<!-- fakemail -->{##}del<span style="display: none;">fakemail</span>ecsa.fr</a>
				</p>
			</div>
			<div>
				<form class="form">
					<div class="form__input-group">
						<label class="form__label" for="contact-name">Nom et Prénom</label>
						<input type="text"
						       name="name"
						       class="form__control"
						       id="contact-name"
						       placeholder="Vos nom et prénom..."
						       required
						       maxlength="50"
						>
						{#						<div class="input__helper">Ceci est un message d’erreur</div>#}
					</div>
					<div class="form__input-group">
						<label class="form__label" for="contact-email">Email</label>
						<input type="email"
						       name="email"
						       class="form__control"
						       id="contact-email"
						       placeholder="votre-email@exemple.fr"
						       required
						       maxlength="200"
						>
						{#						<div class="input__helper">Ceci est un message d’erreur</div>#}
					</div>
					<div class="form__input-group">
						<label class="form__label" for="contact-phone">Téléphone</label>
						<input type="phone"
						       name="phone"
						       class="form__control"
						       id="contact-phone"
						       pattern="[0-9 +()]+"
						       placeholder="01 23 45 67 89"
						       required
						       maxlength="200"
						>
						{#						<div class="input__helper">Ceci est un message d’erreur</div>#}
					</div>
					<div class="form__input-group">
						<label class="form__label" for="contact-message">Message</label>
						<textarea name="message"
						          class="form__control"
						          id="contact-message"
						          placeholder="Votre message ici..."
						          required
						          maxlength="500"
						></textarea>
						{#						<div class="input__helper">Ceci est un message d’erreur</div>#}
					</div>
					<button class="form__submit">Envoyer mon message</button>
					<p class="form__legal">
						Les informations transmises sont utilisées uniquement dans le cadre de la prise de contact
						et ne feront pas l’objet de prospection commercial, ni de partage à des tiers.
					</p>
				</form>
			</div>
		</div>
	</section>

</main>
{% include "components/footer.twig" %}
<script src="{{ webpack("js/index.js") }}"></script>
</body>
</html>
