<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{ env('META_TITLE') }}{{ pageTitle ?? "" }}</title>
	{% include "components/head.twig" %}
</head>
<body class="page--welcome">
{% include "components/navigation.twig" %}
<main>

	<header class="welcome__header">
		{# Header cover #}
		<div class="welcome_hero">
			<div class="container">
				<h1 class="welcome__title">
					<span style="display: none">INDéLEC&nbsp;|&nbsp;</span>
					L’expert de vos installations électriques et domotiques professionnelles depuis 1956
				</h1>
			</div>
		</div>
		{# Header content #}
		<div class="container welcome__header-content">
			<div class="welcome__intro">
				<p>
					Spécialistes de l’industrie du bâtiment et du courant fort, nous conçevons, réalisons et entrenons vos
					installations électriques lors d’une rénovation ou d’un projet de construction.
				</p>
				<img src="/img/symbols/symbol-resistance.svg"
				     class="symbol symbol--big hljs-symbol"
				     role="presentation"
				     alt="Symbol resistance"
				>
			</div>
			<div class="welcome__services">
				<div class="welcome__header-logos">
					<img src="/img/logos/qualifelec.png" alt="Logo Qualifelec"/>
					<img src="/img/logos/ffb.png" alt="Logo Fédération Française du Bâtiment"/>
					<img src="/img/logos/cseee.png" alt="Logo Chambre Syndicale des Entreprises d’Équipements Électrique"/>
				</div>
				<ul>
					<li>
						<h3>Électrique</h3>
						<p>
							Nous prenons en charge l’ensemble des installations
							électriques en courant faible et fort de nos clients.
						</p>
					</li>
					<li>
						<h3>Domotique</h3>
						<p>Nous restons à jour sur les nouvelles technologies pour répondre aux défis contemporains.</p>
					</li>
					<li>
						<h3>Sur mesure</h3>
						<p>Une adaptation aux typologies de chantier qui permet une installation sur le long terme.</p>
					</li>
				</ul>
			</div>
			<img src="/img/symbols/symbole-sin.svg"
			     class="welcome__header-symbol"
			     width="0"
			     role="presentation"
			     alt="Décoration de fond"
			>
		</div>
	</header>

	{# La culture de la qualité #}
	<section class="section container welcome__qualite">
		<figure class="section__figure section__figure--full">
			<img class="lazyload" src="/img/tableau-electrique-2.placeholder.jpg"
			     data-src="/img/tableau-electrique-2.jpg"
			     alt="Deux électriciens en train de travailler sur un tableau électrique"
			>
		</figure>
		<div class="section__content section__content--col">
			<div>
				<h2 class="section__title title-primary">La culture de la qualité</h2>
			</div>
			<div>
				<p>
					Nous formons nos collaborateurs pour garantir un personnel de qualité, et vous assurer une qualité de
					service et d’exécution optimale. La confiance que nous portons à nos collaborateurs et prestataires nous
					permet de nous adapter aux typologies des chantiers, et écarter des solutions basiques de court terme.
				</p>
				<p>
					Nous prenons en charge des installations électriques MGTI et LCPT de classe 3,
					que nous accompagnons d’un point de vue écoresponsable.
				</p>
				<img src="/img/symbols/symbole-unknown-1.svg"
				     class="symbol hide--mobile"
				     role="presentation"
				     alt="Symbol resistance"
				>
				<p class="welcome__qualifelec text--blue">
					<strong>Qualifelec Classe 3</strong><br>
					Logement Commerce Petit Tertiaire <br>
					Moyen Gros Tertiaire Industrie
				</p>
			</div>
		</div>
	</section>

	{# Une expérience historique #}
	<section class="section section--brokenWhite">
		<div class="section__content container section__content--col">
			<div>
				<div class="caroussel caroussel--images welcome__history-slider">
					<div class="caroussel__content">
						<ul class="caroussel__list">
							<li class="caroussel__item">
								<img class="lazyload" src="/img/welcome_slider-0.placeholder.jpg"
								     data-src="/img/welcome_slider-0.jpg"
								     alt="Contrôle d’un tableau électrique"
								>
							</li>
							<li class="caroussel__item">
								<img class="lazyload" src="/img/welcome_slider-1.placeholder.jpg"
								     data-src="/img/welcome_slider-1.jpg"
								     alt="Gilles LOURS dans le magazine de la Chambre Syndicale"
								>
							</li>
							<li class="caroussel__item">
								<img class="lazyload" src="/img/welcome_slider-2.placeholder.jpg"
								     data-src="/img/welcome_slider-2.jpg"
								     alt="Madame Mauricette RIOU - première en partant de la gauche - Chambre Syndicale des Electriciens"
								>
							</li>
							<li class="caroussel__item">
								<img class="lazyload" src="/img/welcome_slider-3.placeholder.jpg"
								     data-src="/img/welcome_slider-3.jpg"
								     alt="Monsieur Christophe RIOU à son bureau"
								>
							</li>
						</ul>
					</div>
					<div class="caroussel__controls">
						<div class="caroussel__arrow caroussel__arrow--left">
							<svg width="54" height="24" viewBox="0 0 54 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97919 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM52 10.5C52.8284 10.5 53.5 11.1716 53.5 12C53.5 12.8284 52.8284 13.5 52 13.5V10.5ZM2 10.5L52 10.5V13.5L2 13.5L2 10.5Z" fill="#0885A3"/>
							</svg>
						</div>
						<div class="caroussel__arrow caroussel__arrow--right">
							<svg width="54" height="24" viewBox="0 0 54 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M53.0607 10.9393C53.6464 11.5251 53.6464 12.4749 53.0607 13.0607L43.5147 22.6066C42.9289 23.1924 41.9792 23.1924 41.3934 22.6066C40.8076 22.0208 40.8076 21.0711 41.3934 20.4853L49.8787 12L41.3934 3.51472C40.8076 2.92893 40.8076 1.97919 41.3934 1.3934C41.9792 0.807611 42.9289 0.807611 43.5147 1.3934L53.0607 10.9393ZM2 13.5C1.17157 13.5 0.5 12.8284 0.5 12C0.5 11.1716 1.17157 10.5 2 10.5L2 13.5ZM52 13.5L2 13.5L2 10.5L52 10.5L52 13.5Z" fill="#0885A3"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h2 class="section__title title-primary">Une expérience historique</h2>
				<p>
					Depuis la création en 1956 par Christophe Riou, nous sommes une entreprise à taille humaine, avec la
					formation et la transmission des savoirs comme valeurs essentielles. Notre confiance en nos collaborateurs
					se traduit en notre capacité à relever des défis en France et dans le monde, sur des sites grandioses
					et avec une variété de clients qui nous suivent encore aujourd’hui.
				</p>
				<p>
					INDéLEC fournit encore aujourd’hui un travail de haute qualité dans les secteurs du public,
					comme du privé, et qui se transmet entre les générations.
				</p>
			</div>
			<img src="/img/symbols/symbole-etoile.svg"
			     class="section__bkg-symbol"
			     role="presentation"
			     alt="Symbol étoile"
			>
		</div>
	</section>

	{# Citation et partenaires #}
	<section class="section container">
		<div class="section__content">
			{% include "components/welcome_quotes.twig" %}
			<ul class="welcome__logos">
				<li>
					<figure>
						<div><img src="/img/logos/matmut.png" alt="Logo Matmut"></div>
						<figcaption>
							Matmut<br>
							depuis 1988
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/gecina.png" alt="Logo Gecina"></div>
						<figcaption>
							Gecina<br>
							depuis 1998
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/campusea.png" alt="Logo Campusea"></div>
						<figcaption>
							Campusea<br>
							depuis 2007
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/hotel-vignon.png" alt="Logo Hôtel Le Vignon"></div>
						<figcaption>
							Hôtel Le Vignon<br>
							depuis 2013
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/agro-paris-tech.png" alt="Logo Agro Paris Tech"></div>
						<figcaption>
							AgroParisTech<br>
							depuis 2014
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="/img/logos/apprentis-auteuil.png" alt="Logo Apprentis d’Auteuil"></div>
						<figcaption>
							Apprentis d’Auteuil<br>
							depuis 2015
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</section>

	{# Contact #}
	<section class="section section--pink welcome__contact" id="contact">
		<div class="section__content container section__content--col">
			<div class="welcome__contact-info">
				<h2 class="section__title title-primary">Contactez-nous</h2>
				<address>41&nbsp;bis&nbsp;-&nbsp;43<br>Boulevard Roger Salengro<br>93130 Noisy-le-Sec</address>
				<ul>
					<li>Tel&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;36</li>
					<li>Fax&nbsp;: 01&nbsp;48&nbsp;44&nbsp;00&nbsp;34</li>
				</ul>
				<p>
					{# <!--suppress HtmlUnknownAttribute --> #}
					<a fakemail>contact@in<!-- fakemail -->{##}del<span style="display: none;">fakemail</span>ecsa.fr</a>
				</p>
			</div>
			<div>
				{% include "components/contactForm.twig" %}
			</div>
		</div>
	</section>

</main>
{% include "components/footer.twig" %}
<script src="{{ webpack("js/index.js") }}"></script>
</body>
</html>
