{
    "parser" : "babel-eslint",
    "parserOptions" : {
        "sourceType" : "script",
        "impliedStrict" : true
    },
    "env" : {
        "browser" : true,
        "es6" : true
    },
    "extends" : "eslint:recommended"
}