{
    "parser" : "babel-eslint",
    "parserOptions" : {
        "sourceType" : "module",
        "impliedStrict" : true
    },
    "env" : {
        "browser" : true,
        "es6" : true
    },
    "rules" : {
        "semi" : "warn"
    },
    "extends" : "eslint:recommended"
}