/*
Styles for the welcome page
 */

@import "welcome-header";

.welcome__qualifelec {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3.66em;
	line-height: 1.375;

	strong {
		line-height: 2.1;
	}
}

@media screen and (max-width: $media-small) {
	.welcome__qualifelec {

	}
}