/*
Styles for the welcome page
 */

@import "welcome-header";

.welcome__qualifelec {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3.66em;
	line-height: 1.375;

	strong {
		line-height: 2.1;
	}
}

.welcome__quotes {
	max-width: 72rem;
	text-align: center;
	padding-top: 5.8rem;
	padding-left: 2.2rem;
	padding-right: 2.2rem;
	//noinspection CssUnknownTarget
	background: url("../img/caroussel/quote-left.svg") no-repeat top left;

	blockquote {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 2.8rem;
		font-weight: $fontWeigth-Bold;
		line-height: 1.429;
		color: $color-blue;
	}

	cite {
		display: block;
		height: 4.8rem;
		margin-top: 4em;
		font-size: .5em;
		font-weight: $fontWeigth-Book;
		font-style: normal;
		line-height: 1.5;
		color: $color-text-light;
	}

	.caroussel__arrow {
		display: flex;
		align-items: center;
		padding: 0 1em;
		height: 4.8rem;
	}
}

.welcome__logos {
	display: flex;
	max-width: 80rem;
	margin: 10rem auto 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.33;
	color: $color-text-light;

	li {
		display: block;
		width: 20rem;
		//margin: 5rem 4rem;
		margin: 4rem 1rem;
	}

	figure {
		height: 100%;
		line-height: 1.33;
		letter-spacing: initial;

		> div {
			display: flex;
			height: 10rem;
			margin-bottom: 3rem;
			flex-direction: column;
			align-items: center;
		}

		img {
			margin: auto;
		}
	}

	figcaption {
		height: 4rem;
	}
}

.welcome__contact {
	overflow: visible;
	margin-bottom: 0;

	.section__content > div {
		margin: 0;
		text-align: center;
	}

	.section__title {
		color: $color-white;
	}

	form {
		margin-top: -14.4rem;
		margin-bottom: -14.4rem;
		box-shadow: 0 2px 25px rgba(79, 79, 79, 0.2);
	}
}

.welcome__contact-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&,
	address {
		font-style: normal;
	}

	a {
		padding: 0;
		color: $color-white;
	}
}

.welcome__contact-legal {
	margin-bottom: 0;
}


@media screen and (max-width: $media-small) {
	.welcome__contact {
		padding-bottom: $container-mobileSafeMargin;

		form {
			margin: 0 -1rem;
		}
	}
	.welcome__contact-info > * {
		margin-bottom: 5rem;
	}
}


@media screen and (max-width: $media-mobile) {
	.section {
		margin-bottom: 6.4rem;
	}

	.welcome__qualifelec {
		padding: 2.2rem 1.4rem;
		margin: 3.2rem 0 0 0;
		position: initial;
		text-align: center;
		color: $color-white;
		background-color: $color-blue;
		font-size: 1.4rem;

		strong {
			font-size: 1.6rem;
		}
	}

	.welcome__contact {
		margin-bottom: 0;
	}
}