/*
Styles for the welcome page
 */

@import "welcome-header";

.welcome__qualifelec {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3.66em;
	line-height: 1.375;

	strong {
		line-height: 2.1;
	}
}

@media screen and (max-width: $media-mobile) {
	.section {
		margin-bottom: 6.4rem;
	}

	.welcome__qualifelec {
		padding: 2.2rem 1.4rem;
		margin: 3.2rem 0 0 0;
		position: initial;
		text-align: center;
		color: $color-white;
		background-color: $color-blue;
		font-size: 1.4rem;

		strong {
			font-size: 1.6rem;
		}
	}
}