/*
Layout
 */

html {
	overflow-x: hidden;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: $container-maxWidth + $container-safeMargin;
	padding: 0 $container-safeMargin;
}

main {
	padding-top: 15rem;
	transition: padding-top $transition-time-fast;
}

.scrolled main {
	padding-top: 8.5rem;
}

@media screen and (max-width: $media-medium) {
	main {
		padding-top: 10rem;
	}
}

@media (max-width: $media-small) {
	.container {
		margin: 0 $container-mobileSafeMargin;
		padding: 0;
	}

	main {
		padding-top: 17.5rem;
	}
}