/*
Layout
 */

.container {
	position: relative;
	margin: 0 auto;
	max-width: $container-maxWidth;
}

main {
	margin-top: 15rem;
	transition: margin-top $transition-time-fast;
}

.scrolled main {
	margin-top: 8.5rem;
}

@media screen and (max-width: $media-medium) {
	main {
		margin-top: 10rem;
	}
}

@media (max-width: $media-small) {
	.container {
		margin: 0 2.5rem;
	}

	main {
		margin-top: 13.5rem;
	}
}