/*
Basis: text
 */

::selection {
	color: $color-white;
	background-color: $indelec-lightPink;
}

strong {
	font-weight: $fontWeigth-Bold;
}

.text--blue {
	color: $color-blue;
}

@media (max-width: $media-small) {
	p {
		margin-bottom: 1em;
	}
}