/*
This file contains your global viriables.
If you want to change bedrocks configuration,
use bedrock/_config.scss instead.
 */

$container-maxWidth: 124rem;
$container-safeMargin: 5rem;
$container-mobileSafeMargin: 2.5rem;
$section-margin: 15rem;
$section-mobileMargin: 6.4rem;

$transition-time-fast: 150ms;
$transition-time-medium: 300ms;
$transition-time-slow: 500ms;

$media-medium: 1152px;
$media-small: 768px;
$media-res-retina: 264dpi;
$media-res-standard: 72dpi;

@media screen and (max-width: $media-medium) {
	html, body {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: $media-small + 100px) {
	html, body {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: $media-small) {
	html, body {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: $media-small - 200px) {
	html, body {
		font-size: 1.6rem;
	}
}