/*
Caroussel
 */

.caroussel {
	position: relative;
	margin: auto;
	background-size: 14.9rem 11.8rem;
}

.caroussel__content {
	overflow: hidden;
}

.caroussel__list {
	position: relative;
	left: 0;
	display: flex;
	flex-wrap: nowrap;
	transition: left $transition-time-medium;
}

.caroussel__item {
	display: block;
	padding: 0 2rem;
	min-width: 100%;
}

.caroussel.caroussel--images {
	width: 100%;
	.caroussel__item {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		width: auto;
		height: auto;
		max-height: 100%;
	}
}

.caroussel__controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}

.caroussel__arrow {
	padding: 1em;
	cursor: pointer;
	transform: translateX(0);
	transition: transform $transition-time-fast;
	user-select: none;
}

.caroussel__arrow--left {
	&:hover,
	&:focus {
		transform: translateX(-.25em);
	}

	&:active {
		transform: translateX(-.4em);
		transition: transform 0s;
	}
}

.caroussel__arrow--right {
	&:hover,
	&:focus {
		transform: translateX(.25em);
	}

	&:active {
		transform: translateX(.4em);
		transition: transform 0s;
	}
}