/*
Caroussel
 */

.caroussel {
	position: relative;
	margin: auto;
}

.caroussel__content {
	overflow: hidden;
}

.caroussel__list {
	position: relative;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: start;
	transition: left $transition-time-slow;
}

.caroussel__item {
	flex: 0 0 100%;
	padding: 0 2rem;
}

.caroussel--images {
	width: 100%;

	.caroussel__item {
		padding: 0;
	}

	img {
		width: auto;
		height: auto;
	}

	figcaption {
		max-width: 40rem;
		margin: 1em auto;
		font-size: .667em;
		text-align: center;
		line-height: 1.375;
		color: $color-text-light;
	}

	.caroussel__controls {
		bottom: 50%;

	}

	svg,
	svg path {
		fill: $color-white-broken;
	}
}

.caroussel__controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(50%);
}

.caroussel__arrow {
	padding: 1em;
	cursor: pointer;
	transform: translateX(0);
	transition: transform $transition-time-fast;
	user-select: none;
}

.caroussel__arrow--left {
	&:hover,
	&:focus {
		transform: translateX(-.25em);
	}

	&:active {
		transform: translateX(-.4em);
		transition: transform 0s;
	}
}

.caroussel__arrow--right {
	&:hover,
	&:focus {
		transform: translateX(.25em);
	}

	&:active {
		transform: translateX(.4em);
		transition: transform 0s;
	}
}