/*
This file define the style of the main navigation bar
 */

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: .917em;
	background-color: $color-white;
	border-bottom: 2px solid $color-gray-2;
	z-index: 50;

	.container {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navigation__list {
	display: flex;
	align-items: center;
	justify-content: right;
	line-height: 1.45em;
}

.navigation__item {
	text-align: center;

	a {
		display: inline-block;
		padding: 6rem 1.32em;
		transition: padding $transition-time-medium;
	}

	&.navigation__item--active a,
	a:hover,
	a:focus {
		background: $indelec-pink;
		color: $color-white;
	}
}

.navigation__logo {
	width: auto;
	height: 3.91em;
	font-size: 1em;
	transition: height $transition-time-medium;
}

.scrolled {
	a {
		padding-top: 2.6rem;
		padding-bottom: 2.6rem;
	}

	.navigation__logo {
		//height: 4.6rem;
		font-size: .535em;
	}
}

@media screen and (max-width: $media-medium) {
	.navigation__item a {
		padding: 4rem 1em;
	}

	.scrolled {
		a {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

@media (max-width: $media-small) {
	.navigation .container {
		padding: 0;
		max-width: 60rem;
		flex-direction: column;
	}

	.navigation__logo {
		margin: 1.5em 0 1.5em 0;
		//height: 5rem;
	}

	.navigation__list {
		width: 100%;
		justify-content: stretch;
	}

	.navigation__item {
		display: block;
		flex: 1;
	}

	.navigation__item a {
		width: 100%;
		padding: 1em 0;
	}
}