.section {
	position: relative;
	margin-top: $section-margin;
	margin-bottom: $section-margin;
	overflow: hidden;
}

.section--brokenWhite,
.section--blue,
.section--pink {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

.section--brokenWhite {
	background-color: $color-white-broken;
}

.section--pink,
.section--blue {
	color: $color-white;

	h1,
	h2,
	h3,
	p {
		color: white;
	}
}

.section--pink {
	background-color: $indelec-pink;
}

.section--blue {
	background-color: $color-blue;
}

.section__figure {
	margin-top: 1em;
	background-position: center;
	background-size: cover;
}

.section__figure--full {
	margin-top: 0;
	margin-bottom: 6.4rem;
	img {
		width: 100%;
	}
}

.section__content {
	position: relative;
	z-index: 0;
}

.section__content--col {
	display: flex;
	flex-direction: row;

	> div {
		flex: 1;
		margin: 0 3rem;

		&:first-child {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.section__title {
	margin-bottom: .667em;
}

.section__bkg-symbol {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-45%, -45%);
	z-index: -1;
	user-select: none;
}

@media (max-width: $media-small) {
	.section {
		margin-top: $section-mobileMargin;
		margin-bottom: $section-mobileMargin;
		overflow: visible;
	}

	.section--brokenWhite,
	.section--blue,
	.section--pink {
		padding-top: $section-mobilePadding;
		padding-bottom: $section-mobilePadding;

		.section__figure {
			margin-top: -$section-mobilePadding;
		}
	}

	.section__content--col {
		display: block;

		> div {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.section__figure {
		height: 23rem;
		margin-bottom: 4.8rem;
		margin-left: -$container-mobileSafeMargin;
		margin-right: -$container-mobileSafeMargin;

		img {
			display: none;
		}
	}

	.section__bkg-symbol {
		transform: translate(-45%, 0%);
	}

	.section__title {
		font-size: 2.4rem;
	}
}

@media (max-width: $media-mobile) {
	.section__figure {
		height: 17.5rem;
	}
}